<%= form_for(@booking_enquiry) do |f| %>
  <% if @booking_enquiry.errors.any? %>
    <div id="error_explanation">
      <h3>Woops!<%= pluralize(@booking_enquiry.errors.count, "error") %> meant this enquire couldn't be sent  :</h3>

      <ul>
      <% @booking_enquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="uk-form">
  <fieldset data-uk-margin>
    <%= f.text_field :first_name, placeholder: "First Name *" %>
    <%= f.text_field :last_name, placeholder: "Surname" %>
  </br>
    <%= f.text_field :phone, placeholder: "Phone" %>
  </br>
    <%= f.text_field :email, placeholder: "Email *" %>
  </br>
    <%= f.text_field :organisation_name, placeholder: "Organisation *" %>
  </br>
  </br>
    <%= f.label :event_date %><br>
    <%= f.date_select :event_date %>
  </br>
    <%= f.label :event_time %><br>
    <%= f.time_select :event_time %>
  </br>
  </br>
    <%= f.text_field :event_location, placeholder: "Location" %>
  </br>
    <%= f.text_field :budget, placeholder: "What's the budget?" %>
  </br>
    <%= f.text_field :event_type, placeholder: "What type of event?" %>
  </br>
    <%= f.number_field :expected_attendance, placeholder: "How many attendees?" %>
  </br>
    <%= f.text_area :performance_requirments, placeholder: "What's your vision for Taikoz's performace at your event?", cols: 40, rows: 5 %>
  </br>
    <%= f.text_area :access_details, placeholder: "What's access like? We might have some BIG DRUMS!", cols: 40, rows: 5 %>
  </br>
    <%= f.text_area :parking_details, placeholder: "Is parking available?", cols: 40, rows: 5 %>
  </br>
  </br>
  <div class="actions">
    <%= f.submit "Send", class: 'uk-button uk-button-danger'  %>
  </div>
  </fieldset>
<% end %>
</div>
