<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @booking_enquiry.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @booking_enquiry.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @booking_enquiry.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @booking_enquiry.email %>
</p>

<p>
  <strong>Organisation name:</strong>
  <%= @booking_enquiry.organisation_name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @booking_enquiry.event_date %>
</p>

<p>
  <strong>Event time:</strong>
  <%= @booking_enquiry.event_time %>
</p>

<p>
  <strong>Event location:</strong>
  <%= @booking_enquiry.event_location %>
</p>

<p>
  <strong>Event type:</strong>
  <%= @booking_enquiry.event_type %>
</p>

<p>
  <strong>Performance requirments:</strong>
  <%= @booking_enquiry.performance_requirments %>
</p>

<p>
  <strong>Expected attendance:</strong>
  <%= @booking_enquiry.expected_attendance %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @booking_enquiry.budget %>
</p>

<p>
  <strong>Access details:</strong>
  <%= @booking_enquiry.access_details %>
</p>

<p>
  <strong>Parking details:</strong>
  <%= @booking_enquiry.parking_details %>
</p>


<%= link_to 'Back', contact_path %>
