<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-posts"><%= link_to "Posts", casein_posts_path %></li>
<li id="tab-productions"><%= link_to "Productions", casein_productions_path %></li>
<li id="tab-events"><%= link_to "Events", casein_events_path %></li>
<li id="tab-locations"><%= link_to "Locations", casein_locations_path %></li>
<li id="tab-booking_enquiries"><%= link_to "Booking enquiries", casein_booking_enquiries_path %></li>
