<div>
  <% if @production.video_link? %>
     <iframe src="<%= video_embed_url(@production.video_link) %>" class="uk-responsive-width" width="850" height="478" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)></iframe>
  <% elsif %>
    <% @production.images.first(1).each do |first_image| %>
      <%= link_to cl_image_tag(first_image.image, width: 850, height: 478, crop: :fill) %>
    <% end %>
  <% end %>
 </div>

<h1><%= @production.name %></h1>
<div class="uk-align-medium-right">
  <h3>
    <%= link_to image_tag("buttons/Taikoz_BookNow.png", width: 150), new_booking_enquiry_path, alt: "Book Now" unless @production.catagory == "mainstage" %>
  </h3>
</div>
<h3>
  Performace Type: <b><%= @production.catagory.humanize %></b>
</br>
</br>
  <%= link_to "Download Media Pack", @production.media_pack_link,  target: "_blank" if @production.media_pack_link? %>
</h3>
<!-- </br> -->
<div class="longfont" style="padding-top: 3px">
  <p><%= sanitize(@production.synopsis) %></p>
</div>
</br>
</br>
<div data-uk-slideset="{small: 2, medium: 4, large: 4}">
  <div class="uk-slidenav-position">
    <ul class="uk-grid uk-slideset">
      <% @production.images.each do |image| %>
        <li>
          <a href="<%= image.image.url %>" data-uk-lightbox="{group:'production_images'}"><%= cl_image_tag(image.image, width: 230, height: 129, crop: :fill) %></a>
        </li>
      <% end %>
    </ul>
      <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
      <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
  </div>
  <ul class="uk-slideset-nav uk-dotnav uk-flex-center" style="padding-top: 15px">...</ul>
</div>
</br>

<div class="uk-accordion" data-uk-accordion="{showfirst: false}">
  <h3 class="uk-accordion-title">Click for Tech Specs</h3>
  <div class="uk-accordion-content">
    <div class="uk-align-medium-right">
      <h3>
        <%= link_to "Download Tech Specs", @production.tech_spec_link, target: "_blank" if @production.tech_spec_link? %>
      </h3>
    </div>
    <div class="longfont">
      <%= sanitize(@production.tech_summary) %>
    </div>
  </div>
</div>
</br>

<p>
  <%= link_to image_tag("buttons/Taikoz_Back.png", width: '100'), productions_path, alt: "Back" %>
</p>
