<div class="uk-responsive-width">
  <%= @production.video_link.html_safe %>
  <!-- .embed-responsive.embed-responsive-16by9
           %iframe.embed-responsive-item(src="#{campaign.video_embed_url}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen) -->
</div>
<h1><%= @production.name %></h1>
<div class="uk-align-medium-right">
  <h3>
    <%= link_to "Download Media Pack", @production.media_pack_link,  target: "_blank" if @production.media_pack_link? %>
  </h3>
</div>
<h3><%= @production.catagory %></h3>
<div class="longfont">
  <p><%= sanitize(@production.synopsis) %></p>
</div>
<div data-uk-slideset="{small: 2, medium: 4, large: 4}">
  <div class="uk-slidenav-position">
    <ul class="uk-grid uk-slideset">
      <% @production.images.each do |image| %>
        <li>
          <a href="<%= image.image.url %>" data-uk-lightbox="{group:'production_images'}"><%= cl_image_tag(image.image, width: 230, height: 129, crop: :fill) %></a>
        </li>
      <% end %>
    </ul>
      <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
      <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
  </div>
  <ul class="uk-slideset-nav uk-dotnav uk-flex-center" style="padding-top: 15px">...</ul>
</div>
</br>

<div class="uk-accordion" data-uk-accordion="{showfirst: false}">
  <h3 class="uk-accordion-title">Click for Tech Specs</h3>
  <div class="uk-accordion-content">
    <div class="uk-align-medium-right">
      <h3>
        <%= link_to "Download Tech Specs", @production.tech_spec_link, target: "_blank" if @production.tech_spec_link? %>
      </h3>
    </div>
    <div class="longfont">
      <%= sanitize(@production.tech_summary) %>
    </div>
  </div>
</div>
