<p id="notice"><%= notice %></p>

<div class="uk-grid">
  <div class="uk-grid-1-2">
    <%= cl_image_tag (@event.image), width: 400 %>
  </div>
  <div class="uk-grid-2-2">
    <h1>
      <%= @event.name %>
    </h1>
    <p>
      <% @sessions.each do |session| %>
        <li>
          <b><%= session.start_date.strftime("%A"" ""%d"" ""%B"" ""%Y") %></b>
          <%= session.venue %>
          <%= session.city %>
          <%= session.state %>
        </li>
      <% end %>
    </p>
  </div>
</div>
<div>
  <%= sanitize(@event.details) %>
</div>

<div class="sum_text_pad">
  <div class="uk-accordion" data-uk-accordion="{showfirst: false}" %>
    <% @sessions.each do |session| %>
      <h3 class="uk-accordion-title"><%= session.start_date.strftime("%A"" ""%d"" ""%B"" ""%Y") %> <%= session.venue %></h3>
      <div class="uk-accordion-content">
        <%= session.start_date.strftime("%A"" ""%d"" ""%B"" ""%Y") %>
        <%= session.city %>
        <%= session.state %>
        <p>
          <%= sanitize(session.session_details) %>
        </p>
      </div>
    <% end %>
  </div>
</div>

<p>
  <%= link_to image_tag("buttons/Taikoz_Back.png", width: '100'), events_path, alt: "Back" %>
</p>
