<p id="notice"><%= notice %></p>
  <h1>
    <%= @event.name %>
  </h1>
  <div class="uk-align-medium-right">
    <%= cl_image_tag (@event.image), width: 400 %>
  </div>
  <h3>
    <% unless @event.start_date == @event.end_date %>
      <b><%= @event.start_date.strftime("%d"" ""%b") %></b> to <b><%= @event.end_date.strftime("%d"" ""%b"" ""%Y") %></b>
    <% else %>
      <b><%= @event.start_date.strftime("%d"" ""%b"" ""%Y") %></b>
    <% end %>
  </h3>
<hr>
<div class="longfont">
  <%= sanitize(@event.details) %>
</div>

<div class="sum_text_pad">
  <div class="uk-accordion" data-uk-accordion="{showfirst: false}" %>
    <% @sessions.each do |session| %>
      <h3 class="uk-accordion-title"><%= session.start_date.strftime("%A"" ""%d"" ""%B"" ""%Y") %> <%= session.venue %></h3>
      <div class="uk-accordion-content">
        <div class="uk-grid">
          <div class="uk-width-3-4">
            <h3>
              <%= session.venue %>
            </h3>
            <b>
              <%= session.start_time.strftime("%l:%M%P") if session.start_time? %>
              <%= session.start_date.strftime("%A"" ""%d"" ""%B"" ""%Y") %>
            </b>
            <p>
              <%= session.street if session.street? %>
              <%= session.city %>
              <%= session.state %>
            </p>
          </div>
          <div class="uk-width-1-4">
            <div class="uk-text-right">
              <% if session.booking_link? %>
                <p>
                  <%= link_to image_tag('buttons/Taikoz_BookNow.png', width: '120'), session.booking_link %>
                </p>
                </br>
              <% end %>
            </div>
          </div>
        </div>
      </br>
        <div class="longfont">
          <%= sanitize(session.session_details) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<p>
  <%= link_to image_tag("buttons/Taikoz_Back.png", width: '100'), events_path, alt: "Back" %>
</p>
