<h1>Booking enquiry received</h1>

<h2>Details</h2>
<p><%= @booking.first_name %> <%= @booking.last_name %></p>
<p><%= @booking.phone %></p>
<p><%= @booking.email %></p>
<p><%= @booking.organisation_name %></p>
<hr>
<p><%= @booking.event_date %></p>
<p><%= @booking.event_time %></p>
<p><%= @booking.event_type %></p>
<p><%= @booking.event_location %></p>
<p><%= @booking.budget %></p>
<p><%= @booking.performance_requirments %></p>
<p><%= @booking.expected_attendance %></p>
<hr>
<p><%= @booking.access_details %></p>
<p><%= @booking.parking_details %></p>
