<div class="nested-fields">
  <%= casein_text_field f, f.object, :venue %>
  <%= casein_text_field f, f.object, :street_add %>
  <%= casein_text_field f, f.object, :city %>
  <%= casein_text_field f, f.object, :state %>
  <%= casein_text_field f, f.object, :postcode %>
  <%= casein_text_field f, f.object, :country %>
</div>
