<p id="notice"><%= notice %></p>

<!-- <%= link_to image_tag("taikoz_latest_news_small.jpg"), posts_path, class: 'uk-text-center' %> -->
<h1>News</h1>
  <hr>
    <% @posts.each do |post| %>
      <div class="feed_padding">
          <h2>
            <%= link_to post.title, post_path(post), style: 'color: #404041' %>
          </h2>
          <div class="uk-align-medium-right">
            <%= link_to (cl_image_tag(post.image_1, width: 230, height: 129, crop: :fill)), post_path(post) %>
          </div>
          <p>
            <strong>Author: </strong><%= post.author %>
          </p>
          <p>
            <strong>Date: </strong><%= post.published_at.strftime("%A"" ""%d"" ""%B"" ""%Y") if post.published_at? %>
          </p>
          <div class="longfont">
            <p>
              <%= sanitize(truncate(post.content, length: 200, separator: " ", escape: false)) %>
            </p>
          </div>

          <p><strong><%= link_to "Read more...", post_path(post) %></strong></p>
      </div>
      <hr>
    <% end %>

<%= will_paginate @posts %>
<p>
  <%= link_to image_tag("buttons/Taikoz_Back.png", width: '100'), root_path, alt: "Back" %>
</p>
