<p id="notice"><%= notice %></p>

<div class="uk-grid">
  <div class="uk-width-1-1 uk-width-medium-1-2">
    <a href="<%= @post.image_1.url %>" data-uk-lightbox="{group:'post_images'}"><%= (cl_image_tag @post.image_1) %></a>
  </div>
  <div class="uk-width-1-1 uk-width-medium-1-2">
    <h1>
      <%= @post.title %>
    </h1>
    <h3>
      Author: <%= @post.author %>
    </h3>
    <h3>
      Date: <%= @post.published_at.strftime("%A"" ""%d"" ""%B"" ""%Y") if @post.published_at? %>
    </h3>
  </div>
</div>
<div class="sum_text_pad longfont">
  <%= sanitize(@post.content) %>
</div>
</br>
<div data-uk-slideset="{small: 2, medium: 4, large: 4}">
  <div class="uk-slidenav-position">
    <ul class="uk-grid uk-slideset">
      <% @post.images.each do |image| %>
        <li>
          <a href="<%= image.image.url %>" data-uk-lightbox="{group:'post_images'}"><%= cl_image_tag(image.image, width: 230, height: 129, crop: :fill) %></a>
        </li>
      <% end %>
    </ul>
      <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
      <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
  </div>
  <ul class="uk-slideset-nav uk-dotnav uk-flex-center" style="padding-top: 15px">...</ul>
</div>
</br>

<p>
  <%= link_to image_tag("buttons/Taikoz_Back.png", width: '100'), posts_path, alt: "Back" %>
</p>
