<nav class="uk-navbar">
  <div class="uk-hidden-small">
    <li class="uk-navbar-brand"><%= link_to cl_image_tag("taikoz_logo_rough.png", width: 250), root_path %></li>
  </div>
  <div class="uk-visible-small">
    <li class="uk-navbar-brand"><%= link_to cl_image_tag("taikoz_logo_rough.png", width: 190), root_path %></li>
  </div>
  <div class="uk-navbar-flip uk-hidden-small uk-hidden-medium">
    <ul class="uk-navbar-nav">
      <li><%= link_to "ABOUT", about_path %></li>
      <li><%= link_to "NEWS", posts_path %></li>
      <li><%= link_to "WHAT'S ON", events_path %></li>
      <li class="uk-parent" data-uk-dropdown="{mode: 'click'}">
        <a>PRODUCTIONS <i class="uk-icon-caret-down"></i></a>
          <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom">
            <ul class="uk-nav uk-nav-navbar">
              <li><%= link_to "All Productions", productions_path %></li>
              <li><%= link_to "Mainstage", productions_path(filter: "mainstage") %></li>
              <li><%= link_to "Corporate", productions_path(filter: "corporate") %></li>
              <hr>
              <li><%= link_to "All School Productions", productions_path(filter: "school_all") %></li>
              <li><%= link_to "School Shows", productions_path(filter: "school_show") %></li>
              <li><%= link_to "School Workshops", productions_path(filter: "school_workshop") %></li>
            </ul>
          </div>
      </li>

      <li><a href="http://www.taikozeducation.com">CLASSES</a></li>
      <li><%= link_to "CONTACT", contact_path %></li>
      <!-- <div class="uk-navbar-content navbar-content-pad-sm"><a href="https://www.facebook.com/TAIKOZfan" class="uk-icon-hover uk-icon-facebook" target="_blank"></a></div>
      <div class="uk-navbar-content navbar-content-pad-sm"><a href="https://twitter.com/Taikoz" class="uk-icon-hover uk-icon-twitter" target="_blank"></a></div>
      <div class="uk-navbar-content navbar-content-pad-sm"><a href="https://www.youtube.com/user/SynergyandTaikOzLtd" class="uk-icon-hover uk-icon-youtube" target="_blank"></a></div>
      <div class="uk-navbar-content"><a href="https://vimeo.com/taikoz" class="uk-icon-hover uk-icon-vimeo" target="_blank"></a></div> -->
    </ul>
  </div>
    <a href="#mobile_nav" class="uk-navbar-toggle uk-navbar-flip uk-hidden-large" data-uk-offcanvas></a>
</nav>

<div id="mobile_nav" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-offcanvas">
      <li><%= link_to "ABOUT", about_path %></li>
      <li><%= link_to "NEWS", posts_path %></li>
      <li><%= link_to "WHAT'S ON", events_path %></li>
      <li><%= link_to "PRODUCTIONS", productions_path %></li>
      <li><a href="http://www.taikozeducation.com" target="_blank">CLASSES</a></li>
      <li><%= link_to "CONTACT", contact_path %></li>
      <li><%= link_to "BOOKINGS", new_booking_enquiry_path %></li>
      <li class="uk-nav-divider"></li>
      <li><a href="https://www.facebook.com/TAIKOZfan" class="uk-icon-hover uk-icon-facebook" target="_blank"></a></li>
      <li><a href="https://twitter.com/Taikoz" class="uk-icon-hover uk-icon-twitter" target="_blank"></a></li>
      <li><a href="https://www.youtube.com/user/SynergyandTaikOzLtd" class="uk-icon-hover uk-icon-youtube" target="_blank"></a></li>
      <li><a href="https://vimeo.com/taikoz" class="uk-icon-hover uk-icon-vimeo" target="_blank"></a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="#subscribe-modal" data-uk-modal>Subscribe</a></li>
      <li><a href="https://www.givenow.com.au/synergyandtaikoz" target="_blank">Donate</a></li>
      <li><%= link_to "Donors", donors_path %></li>
      <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
    </ul>
  </div>
</div>
