<div class="main_blocks">
  <div class="uk-grid">
    <div class="uk-width-small-1-1 uk-width-medium-1-3">
      <div class="uk-hidden-small">
        <figure class="uk-overlay uk-overlay-hover">
          <div class="uk-overlay uk-overlay-scale">
            <%= link_to image_tag("taikoz_upcoming_small.jpg"), events_path, class: 'uk-text-center' %>
          </div>
        </figure>
      </div>
      <div class="uk-visible-small" style="padding-top: 35px">
        <h1>Upcoming Events</h1>
      </div>
      <p>
        <img src="images/buttons/Taikoz_LearnMore.png", width="150px">
      </p>
    </div>
    <div class="uk-width-small-1-1 uk-width-medium-1-3">
      <div class="uk-hidden-small">
        <figure class="uk-overlay uk-overlay-hover">
          <div class="uk-overlay-scale">
            <%= link_to image_tag("taikoz_latest_news_small.jpg"), posts_path, class: 'uk-text-center' %>
          </div>
        </figure>
      </div>
      <div class="uk-visible-small">
        <h1>Current News</h1>
      </div>
      <% @posts.each do |post| %>
        <div class="sum_text_pad">
          <h2>
            <%= link_to post.title, post_path(post) %>
          </h2>
          <p>
            <%= truncate(post.content, length: 200, separator: ' ', escape: false) %>
          </p>
          <%= link_to image_tag("buttons/Taikoz_LearnMore.png", width: '150'), post_path(post), alt: "Learn More" %>
        </div>
      <% end %>
    </div>
    <div class="uk-width-small-1-1 uk-width-medium-1-3">
      <div class="uk-hidden-small">
        <figure class="uk-overlay uk-overlay-hover">
          <div class="uk-overlay-scale">
            <%= link_to image_tag("no_use_small.jpg") %>
          </div>
        </figure>
      </div>
    </div>
  </div>
</div>
