<!DOCTYPE html>
<html>
<head>
  <title>Taikoz</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/components/slideshow.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/components/slideset.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/components/lightbox.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/components/accordion.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.22.0/js/components/sticky.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- CSS -->

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Noticia+Text:400,700,400italic' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17517091-2', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=109455409099059";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


  <div class="uk-container uk-container-center">
    <%= render "layouts/navbar" %>
      <% if home_controller? %>
        <%= yield %>
      <% else %>
        <div class="uk-grid uk-hidden-small uk-hidden-medium">
          <div class="uk-width-3-4">
            <%= yield %>
          </div>
          <div class="uk-width-1-4">
            <%= render 'layouts/sidebar' %>
          </div>
        </div>
        <div class="uk-hidden-large">
          <%= yield %>
        </div>
      <% end %>
    <%= render "layouts/footer" %>
  </div>

<!--SubscribeModal-->
<div id="subscribe-modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
          <h1>SUBSCRIBE</h1>
          <p>to receive the latest news and event information</p>
              <form action="http://synergyandtaikoz.createsend.com/t/d/s/dlkiiu/" method="post" id="subForm">
          <p>
              <label for="fieldName">Name</label><br />
              <input id="fieldName" name="cm-name" type="text" />
          </p>
          <p>
              <label for="fieldEmail">Email</label><br />
              <input id="fieldEmail" name="cm-dlkiiu-dlkiiu" type="email" required />
          </p>
          <p>
              <label for="fieldtjplk">State</label><br />
              <input id="fieldtjplk" name="cm-f-tjplk" type="text" />
          </p>
          <p>
              <label for="fieldtidkdy">Country</label><br />
              <select id="fieldtidkdy" name="cm-fo-tidkdy">
                  <option value=""></option>
                  <option value="357522">Afghanistan</option>
                  <option value="357523">Albania</option>
                  <option value="357524">Algeria</option>
                  <option value="357525">American Samoa</option>
                  <option value="357526">Andorra</option>
                  <option value="357527">Angola</option>
                  <option value="357528">Anguilla</option>
                  <option value="357529">Antigua &amp; Barbuda</option>
                  <option value="357530">Argentina</option>
                  <option value="357531">Armenia</option>
                  <option value="357532">Aruba</option>
                  <option value="357533">Australia</option>
                  <option value="357534">Austria</option>
                  <option value="357535">Azerbaijan</option>
                  <option value="357536">Azores</option>
                  <option value="357537">Bahamas</option>
                  <option value="357538">Bahrain</option>
                  <option value="357539">Bangladesh</option>
                  <option value="357540">Barbados</option>
                  <option value="357541">Belarus</option>
                  <option value="357542">Belgium</option>
                  <option value="357543">Belize</option>
                  <option value="357544">Benin</option>
                  <option value="357545">Bermuda</option>
                  <option value="357546">Bhutan</option>
                  <option value="357547">Bolivia</option>
                  <option value="357548">Bonaire</option>
                  <option value="357549">Bosnia &amp; Herzegovina</option>
                  <option value="357550">Botswana</option>
                  <option value="357551">Brazil</option>
                  <option value="357552">British Indian Ocean Ter</option>
                  <option value="357553">Brunei</option>
                  <option value="357554">Bulgaria</option>
                  <option value="357555">Burkina Faso</option>
                  <option value="357556">Burundi</option>
                  <option value="357557">Cambodia</option>
                  <option value="357558">Cameroon</option>
                  <option value="357559">Canada</option>
                  <option value="357560">Canary Islands</option>
                  <option value="357561">Cape Verde</option>
                  <option value="357562">Cayman Islands</option>
                  <option value="357563">Central African Republic</option>
                  <option value="357564">Chad</option>
                  <option value="357565">Channel Islands</option>
                  <option value="357566">Chile</option>
                  <option value="357567">China</option>
                  <option value="357568">Christmas Island</option>
                  <option value="357569">Cocos Island</option>
                  <option value="357570">Colombia</option>
                  <option value="357571">Comoros</option>
                  <option value="357572">Congo</option>
                  <option value="357573">Congo Democratic Rep</option>
                  <option value="357574">Cook Islands</option>
                  <option value="357575">Costa Rica</option>
                  <option value="357576">Cote D&#x27;Ivoire</option>
                  <option value="357577">Croatia</option>
                  <option value="357578">Cuba</option>
                  <option value="357579">Curacao</option>
                  <option value="357580">Cyprus</option>
                  <option value="357581">Czech Republic</option>
                  <option value="357582">Denmark</option>
                  <option value="357583">Djibouti</option>
                  <option value="357584">Dominica</option>
                  <option value="357585">Dominican Republic</option>
                  <option value="357586">East Timor</option>
                  <option value="357587">Ecuador</option>
                  <option value="357588">Egypt</option>
                  <option value="357589">El Salvador</option>
                  <option value="357590">Equatorial Guinea</option>
                  <option value="357591">Eritrea</option>
                  <option value="357592">Estonia</option>
                  <option value="357593">Ethiopia</option>
                  <option value="357594">Falkland Islands</option>
                  <option value="357595">Faroe Islands</option>
                  <option value="357596">Fiji</option>
                  <option value="357597">Finland</option>
                  <option value="357598">France</option>
                  <option value="357599">French Guiana</option>
                  <option value="357600">French Polynesia</option>
                  <option value="357601">French Southern Ter</option>
                  <option value="357602">Gabon</option>
                  <option value="357603">Gambia</option>
                  <option value="357604">Georgia</option>
                  <option value="357605">Germany</option>
                  <option value="357606">Ghana</option>
                  <option value="357607">Gibraltar</option>
                  <option value="357608">Great Britain</option>
                  <option value="357609">Greece</option>
                  <option value="357610">Greenland</option>
                  <option value="357611">Grenada</option>
                  <option value="357612">Guadeloupe</option>
                  <option value="357613">Guam</option>
                  <option value="357614">Guatemala</option>
                  <option value="357615">Guernsey</option>
                  <option value="357616">Guinea</option>
                  <option value="357617">Guinea-Bissau</option>
                  <option value="357618">Guyana</option>
                  <option value="357619">Haiti</option>
                  <option value="357620">Honduras</option>
                  <option value="357621">Hong Kong</option>
                  <option value="357622">Hungary</option>
                  <option value="357623">Iceland</option>
                  <option value="357624">India</option>
                  <option value="357625">Indonesia</option>
                  <option value="357626">Iran</option>
                  <option value="357627">Iraq</option>
                  <option value="357628">Ireland</option>
                  <option value="357629">Isle of Man</option>
                  <option value="357630">Israel</option>
                  <option value="357631">Italy</option>
                  <option value="357632">Jamaica</option>
                  <option value="357633">Japan</option>
                  <option value="357634">Jersey</option>
                  <option value="357635">Jordan</option>
                  <option value="357636">Kazakhstan</option>
                  <option value="357637">Kenya</option>
                  <option value="357638">Kiribati</option>
                  <option value="357639">Korea North</option>
                  <option value="357640">Korea South</option>
                  <option value="357641">Kuwait</option>
                  <option value="357642">Kyrgyzstan</option>
                  <option value="357643">Laos</option>
                  <option value="357644">Latvia</option>
                  <option value="357645">Lebanon</option>
                  <option value="357646">Lesotho</option>
                  <option value="357647">Liberia</option>
                  <option value="357648">Libya</option>
                  <option value="357649">Liechtenstein</option>
                  <option value="357650">Lithuania</option>
                  <option value="357651">Luxembourg</option>
                  <option value="357652">Macau</option>
                  <option value="357653">Macedonia</option>
                  <option value="357654">Madagascar</option>
                  <option value="357655">Malawi</option>
                  <option value="357656">Malaysia</option>
                  <option value="357657">Maldives</option>
                  <option value="357658">Mali</option>
                  <option value="357659">Malta</option>
                  <option value="357660">Marshall Islands</option>
                  <option value="357661">Martinique</option>
                  <option value="357662">Mauritania</option>
                  <option value="357663">Mauritius</option>
                  <option value="357664">Mayotte</option>
                  <option value="357665">Mexico</option>
                  <option value="357666">Midway Islands</option>
                  <option value="357667">Moldova</option>
                  <option value="357668">Monaco</option>
                  <option value="357669">Mongolia</option>
                  <option value="357670">Montenegro</option>
                  <option value="357671">Montserrat</option>
                  <option value="357672">Morocco</option>
                  <option value="357673">Mozambique</option>
                  <option value="357674">Myanmar</option>
                  <option value="357675">Namibia</option>
                  <option value="357676">Nauru</option>
                  <option value="357677">Nepal</option>
                  <option value="357678">Netherland Antilles</option>
                  <option value="357679">Netherlands</option>
                  <option value="357680">Nevis</option>
                  <option value="357681">New Caledonia</option>
                  <option value="357682">New Zealand</option>
                  <option value="357683">Nicaragua</option>
                  <option value="357684">Niger</option>
                  <option value="357685">Nigeria</option>
                  <option value="357686">Niue</option>
                  <option value="357687">Norfolk Island</option>
                  <option value="357688">Norway</option>
                  <option value="357689">Oman</option>
                  <option value="357690">Pakistan</option>
                  <option value="357691">Palau Island</option>
                  <option value="357692">Palestine</option>
                  <option value="357693">Panama</option>
                  <option value="357694">Papua New Guinea</option>
                  <option value="357695">Paraguay</option>
                  <option value="357696">Peru</option>
                  <option value="357697">Philippines</option>
                  <option value="357698">Pitcairn Island</option>
                  <option value="357699">Poland</option>
                  <option value="357700">Portugal</option>
                  <option value="357701">Puerto Rico</option>
                  <option value="357702">Qatar</option>
                  <option value="357703">Reunion</option>
                  <option value="357704">Romania</option>
                  <option value="357705">Russia</option>
                  <option value="357706">Rwanda</option>
                  <option value="357707">Saipan</option>
                  <option value="357708">Samoa</option>
                  <option value="357709">Samoa American</option>
                  <option value="357710">San Marino</option>
                  <option value="357711">Sao Tome &amp; Principe</option>
                  <option value="357712">Saudi Arabia</option>
                  <option value="357713">Senegal</option>
                  <option value="357714">Serbia</option>
                  <option value="357715">Serbia &amp; Montenegro</option>
                  <option value="357716">Seychelles</option>
                  <option value="357717">Sierra Leone</option>
                  <option value="357718">Singapore</option>
                  <option value="357719">Slovakia</option>
                  <option value="357720">Slovenia</option>
                  <option value="357721">Solomon Islands</option>
                  <option value="357722">Somalia</option>
                  <option value="357723">South Africa</option>
                  <option value="357724">South Sudan</option>
                  <option value="357725">Spain</option>
                  <option value="357726">Sri Lanka</option>
                  <option value="357727">St Barthelemy</option>
                  <option value="357728">St Eustatius</option>
                  <option value="357729">St Helena</option>
                  <option value="357730">St Kitts-Nevis</option>
                  <option value="357731">St Lucia</option>
                  <option value="357732">St Maarten</option>
                  <option value="357733">St Pierre &amp; Miquelon</option>
                  <option value="357734">St Vincent &amp; Grenadines</option>
                  <option value="357735">Sudan</option>
                  <option value="357736">Suriname</option>
                  <option value="357737">Swaziland</option>
                  <option value="357738">Sweden</option>
                  <option value="357739">Switzerland</option>
                  <option value="357740">Syria</option>
                  <option value="357741">Tahiti</option>
                  <option value="357742">Taiwan</option>
                  <option value="357743">Tajikistan</option>
                  <option value="357744">Tanzania</option>
                  <option value="357745">Thailand</option>
                  <option value="357746">Togo</option>
                  <option value="357747">Tokelau</option>
                  <option value="357748">Tonga</option>
                  <option value="357749">Trinidad &amp; Tobago</option>
                  <option value="357750">Tunisia</option>
                  <option value="357751">Turkey</option>
                  <option value="357752">Turkmenistan</option>
                  <option value="357753">Turks &amp; Caicos Is</option>
                  <option value="357754">Tuvalu</option>
                  <option value="357755">Uganda</option>
                  <option value="357756">Ukraine</option>
                  <option value="357757">United Arab Emirates</option>
                  <option value="357758">United Kingdom</option>
                  <option value="357759">United States of America</option>
                  <option value="357760">Uruguay</option>
                  <option value="357761">Uzbekistan</option>
                  <option value="357762">Vanuatu</option>
                  <option value="357763">Vatican City State</option>
                  <option value="357764">Venezuela</option>
                  <option value="357765">Vietnam</option>
                  <option value="357766">Virgin Islands (Brit)</option>
                  <option value="357767">Virgin Islands (USA)</option>
                  <option value="357768">Wake Island</option>
                  <option value="357769">Wallis &amp; Futana Is</option>
                  <option value="357770">Yemen</option>
                  <option value="357771">Zambia</option>
                  <option value="357772">Zimbabwe</option>
              </select>
          </p>
          <p>
              <button class="uk-button uk-button-danger" type="submit">Subscribe</button>
          </p>
      </form>
    </div>
</div>

</body>
</html>
